@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:ital@1&family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.slide-img{
    height: 100vh;
    width: 100%;
}
