@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:ital@1&family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.slide-img{
    height: 100vh;
    width: 100%;
}
.sec-2-bg{
    background-color: #12B0E8;
}
.card-size{
    height: 200px;
    width: 200px;
}
.sec-2-card{
    position: relative;
    overflow: hidden;
    height: 320px;
}
.card-button{
    bottom: 5px;
    transform: translateY(100px);
}
.sec-2-card:hover button{
    position: absolute;
    transform: translateY(-5px);
    transition: transform 0.2s linear;
}
.sec-2-card:hover{
    box-shadow: 5px 5px 20px 10px gray;
}
.plan-button{
    background-color: rgb(241, 234, 234);
    color: #12B0E8;
}
.package-border{
    border-radius: 30px;
}
.package-shadow{
    box-shadow: 5px 15px 15px lightskyblue;
}
.FAQ-img{
    height: 350px;
    width: 100vh;
}
.footer-img{
    height: 70px;
    width: 150px;
}
